<link rel="stylesheet" href="/assets/userform.css">

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class=>"profiletext" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, :class=>"profiletext"%><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :password, :class=>"profiletext" %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, :class=>"profiletext" %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :picture, :class=>"profiletext" %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :height, :class=>"profiletext" %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :dob, :class=>"profiletext" %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
