<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coin_freq %><br>
    <%= f.text_field :coin_freq %>
  </div>
  <div class="field">
    <%= f.label :mushroom_freq %><br>
    <%= f.text_field :mushroom_freq %>
  </div>
  <div class="field">
    <%= f.label :turtle_freq %><br>
    <%= f.text_field :turtle_freq %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :coin_threshold %><br>
    <%= f.number_field :coin_threshold %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_area :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
