<!-- Testing Map -->
<h1>Map should be here</h1>
  <button id="starttracking">Start your run</button>
  <button id="stoptracking">Stop tracking</button>

  <div id="map"></div>

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


<!-- 

<h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Distance from last</th>
      <th>Run</th>
      <th>Coin</th>
      <th>Cummulative distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td><%= location.distance_from_last %></td>
        <td><%= location.run_id %></td>
        <td><%= location.coin %></td>
        <td><%= location.cummulative_distance %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
 -->