<!DOCTYPE html>
<html>
<head>
  <title>Super Mario Run</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Set Apple icons for when prototype is saved to home screen -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">

    <!-- Include the compiled Ratchet CSS -->
    <!-- <link href="stylesheets/ratchet.css" rel="stylesheet"> -->
    <!-- <link href="stylesheets/ratchet-theme-ios.css" rel="stylesheet"> -->
    <!-- Include the compiled Ratchet JS -->
    <!-- <script src="ratchet.js"></script> -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

</head>
<body>

  <!-- Make sure all your bars are the first things in your <body> -->
 <header class="bar bar-nav">
<span class="pull-left">
  <img src="/assets/Mario.png" class="mariologin" class="content-padded">
  </span> 
 <% if @user == current_user %>
    <a class="icon icon-bars pull-right" href="#settingsModal"></a>
    <% end %>
  <h1 class="title">Super Mario Run</h1>
</header>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">



 <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>

    <% if @user == current_user %>
    
    <nav class="bar bar-tab">
  <a class="tab-item active" href = "/">
    <span class = "tab-text">Dashboard</span>
  </a>
  <a id="startrun" class="tab-item main-tab" href="/runs/new">
    <div class = "icon icon-play"></div>
    <span class = "tab-text">Start Run</span>
 </a> 
  <a id="stoprun" class="tab-item main-tab invisible"  href="#">
    <div class = "icon icon-stop"></div>
    <span class = "tab-text">Stop Run</span>
 </a> 

  <a class="tab-item" href="#">
     <span class = "tab-text">History</span>
  </a>

</nav>

<% end %>
  </div>






  <!-- Settings Modal -->
    <div id="settingsModal" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#settingsModal"></a>
        <h1 class="title">User Settings</h1>
      </header>

      <div class="content">
        <form class="input-group">
          <input type="text" placeholder="Full name">
          <input type="email" placeholder="Email">
          <input type="text" placeholder="Username">
        </form>

        <h5 class="content-padded">App settings</h5>

        <ul class="table-view">
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-sound"></span>
            <div class="media-body">
              Enable sounds
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-person"></span>
            <div class="media-body">
              Parental controls
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
        </ul>
        <div class="content-padded">
          <button class="btn btn-positive btn-block">Save settings</button>
        </div>

        
          <button id = "logout" class="btn btn-positive btn-block logout" href='/users/logout'>Logout</button>
          <a href="">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </a>
        </div>


      </div>
    </div>

</body>
</html>


