<!DOCTYPE html>
<html>
<head>
  <title>Super Mario Run</title>

  <script>

// Mouseover/ Click sound effect- by JavaScript Kit (www.javascriptkit.com)
// Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code

//** Usage: Instantiate script by calling: var uniquevar=createsoundbite("soundfile1", "fallbackfile2", "fallebacksound3", etc)
//** Call: uniquevar.playclip() to play sound

var html5_audiotypes={ //define list of audio file extensions and their associated audio types. Add to it if your specified audio file isn't on this list:
  "mp3": "audio/mpeg",
  "mp4": "audio/mp4",
  "ogg": "audio/ogg",
  "wav": "audio/wav"
}

function createsoundbite(sound){
  var html5audio=document.createElement('audio')
  if (html5audio.canPlayType){ //check support for HTML5 audio
    for (var i=0; i<arguments.length; i++){
      var sourceel=document.createElement('source')
      sourceel.setAttribute('src', arguments[i])
      if (arguments[i].match(/\.(\w+)$/i))
        sourceel.setAttribute('type', html5_audiotypes[RegExp.$1])
      html5audio.appendChild(sourceel)
    }
    html5audio.load()
    html5audio.playclip=function(){
      html5audio.pause()
      html5audio.currentTime=0
      html5audio.play()
    }
    return html5audio
  }
  else{
    return {playclip:function(){throw new Error("Your browser doesn't support HTML5 audio unfortunately")}}
  }
}

//Initialize two sound clips with 1 fallback file each:

var mouseoversound=createsoundbite("whistle.ogg", "whistle.mp3")
var clicksound=createsoundbite("click.ogg", "click.mp3")
var mariomusic=createsoundbite("mario_08.wav")
mariomusic.playclip();

</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Sets initial viewport load and disables zooming  -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Set Apple icons for when prototype is saved to home screen -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">

    <!-- Include the compiled Ratchet CSS -->
    <!-- <link href="stylesheets/ratchet.css" rel="stylesheet"> -->
    <!-- <link href="stylesheets/ratchet-theme-ios.css" rel="stylesheet"> -->
    <!-- Include the compiled Ratchet JS -->
    <!-- <script src="ratchet.js"></script>
    <!-- <link href="audios/mario_08.wav" rel="audio"> -->
</head>
<body>

  <!-- Make sure all your bars are the first things in your <body> -->
 <header class="bar bar-nav">
  <button class="btn pull-left">
    Left
  </button>
    <a class="icon icon-bars pull-right" href="#settingsModal"></a>
  <h1 class="title">Super Mario Run</h1>
</header>

  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">

    <audio id = "audiotag1" src = "assets/mario_08.wav" preload = "auto"></audio>
<a href = "javascript:play_single_sound();">Play audio</a>
<a href = "javascript:stop_single_sound();">Stop audio</a>
<script type = "text/javascript">
play_single_sound();
function play_single_sound() {
  document.getElementById('audiotag1').play();
}
function stop_single_sound() {
  document.getElementById('audiotag1').pause();
}
</script>

 <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    
    <nav class="bar bar-tab">
  <a class="tab-item active" href = "/">
    <span class = "tab-text">Dashboard</span>
  </a>
  <a class="tab-item main-tab"  href="/runs/new">


    <div class = "icon icon-play"></div>
    <span class = "tab-text">Start Run</span>
  </a>
  <a class="tab-item" href="#">
     <span class = "tab-text">History</span>
  </a>

</nav>
  </div>







  <!-- Settings Modal -->
    <div id="settingsModal" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#settingsModal"></a>
        <h1 class="title">User Settings</h1>
      </header>

      <div class="content">
        <form class="input-group">
          <input type="text" placeholder="Full name">
          <input type="email" placeholder="Email">
          <input type="text" placeholder="Username">
        </form>

        <h5 class="content-padded">App settings</h5>

        <ul class="table-view">
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-sound"></span>
            <div class="media-body">
              Enable sounds
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-person"></span>
            <div class="media-body">
              Parental controls
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
        </ul>
        <div class="content-padded">
          <button class="btn btn-positive btn-block">Save settings</button>
        </div>

         <div class="content-padded">
          <a href="">
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </a>
        </div>


      </div>
    </div>

</body>
</html>


