<h1>Listing runs</h1>

<table>
  <thead>
    <tr>
      <th>Coins</th>
      <th>Calories</th>
      <th>User</th>
      <th>Mushrooms</th>
      <th>Turtles</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.total_coins %></td>
        <td><%= run.calories %></td>
        <td><%= run.user_id %></td>
        <td><%= run.total_mushrooms %></td>
        <td><%= run.total_turtles %></td>
        <td><%= run.start_time %></td>
        <td><%= run.end_time %></td>
        <td><%= link_to 'Show', run %></td>
        <td><%= link_to 'Edit', edit_run_path(run) %></td>
        <td><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
