
<link rel="stylesheet" href="/assets/levels.css">
<% if current_user.level_id == 1 %>
	<div class="dashboard-level1">
<% elsif current_user.level_id == 2 %>
	<div class="dashboard-level2">
<% elsif current_user.level_id == 3 %>
	<div class="dashboard-level3">
<% elsif current_user.level_id == 4 %>
	<div class="dashboard-level4">
<% elsif current_user.level_id == 5 %>
	<div class="dashboard-level5">
<% elsif current_user.level_id == 6 %>
	<div class="dashboard-level6">
<% elsif current_user.level_id == 7 %>
	<div class="dashboard-level7">
<% elsif current_user.level_id == 8 %>
	<div class="dashboard-level8">
<% elsif current_user.level_id == 9 %>
	<div class="dashboard-level9">
<% elsif current_user.level_id == 10 %>
	<div class="dashboard-level10">
<% end %>

	  

	<!-- <div class = "primary-block content-block levelinfo"> -->
			<h3 class="level_title">Level <%= current_user.level_id %>: <%= current_user.level.theme %></h3>
	<!-- </div> -->
		<div class="summary_box">
			<img class="homeimg" src="/assets/small_coin_moving.gif" alt="">
			<h4> <%= @total_coins %>  </h4>
		 </div>
 		<div class="summary_box">
			<img class="homeimg " src="/assets/mushroom_moving.gif" alt="">
			<h4> <%= @total_mushrooms %>  </h4>
		</div>
		<div class="summary_box">
			<img class="homeimg " src="/assets/turtle_moving_small.gif" alt="">
			<h4> <%= @total_turtles %>  </h4>
		</div>

	<div class="information_block">
		<div class = "content-block small_box"><strong>Distance</strong></div>
		<div class = "content-block big_box"> <%= @total_distance  %><div> <!-- current_user.total_distance --> </div></div> <!-- Total distance run -->
	</div>

	<div class="information_block">
		<div class = "content-block"><strong>Time </strong></div>
		<div class = "content-block"><div> <%= @total_time  %> </div></div> <!-- Total time run -->
	</div>

	<div class="information_block">
		<div class = "content-block"><strong>Steps</strong></div>
		<div class = "content-block"> <%= @total_steps  %> steps<div> <!-- current_user.total_distance --> </div></div> <!-- Total distance run -->
	</div>


	<div class="coinstillnext">
		<div class="meter animate">
	<span style="width:<%= @percentage_completion.to_f %>%" ><span></span></span>
</div>
		<div><%= @coins_to_next.to_i %> coins till next level</div>

	</div>


</div>

