<h2 class="content-padded">Log in</h2>

<img src="/assets/Mario-2.gif" class="mariologin" class="content-padded">
 

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="content-padded"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div class="content-padded"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="content-padded"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="content-padded"><%= f.submit "Log in" %></div>
<% end %>

<%= render "devise/shared/links" %>
