<link rel="stylesheet" href="/assets/levels.css">
<% if current_user.level_id == 1 %>
	<div class="dashboard-level1">
<% elsif current_user.level_id == 2 %>
	<div class="dashboard-level2">
<% elsif current_user.level_id == 3 %>
	<div class="dashboard-level3">
<% elsif current_user.level_id == 4 %>
	<div class="dashboard-level4">
<% elsif current_user.level_id == 5 %>
	<div class="dashboard-level5">
<% elsif current_user.level_id == 6 %>
	<div class="dashboard-level6">
<% elsif current_user.level_id == 7 %>
	<div class="dashboard-level7">
<% elsif current_user.level_id == 8 %>
	<div class="dashboard-level8">
<% elsif current_user.level_id == 9 %>
	<div class="dashboard-level9">
<% elsif current_user.level_id == 10 %>
	<div class="dashboard-level10">
<% end %>

	  

	<div class = "primary-block content-block levelinfo">
			<div>Level:<%= current_user.level_id %></div>
			<div><%= current_user.level.theme %></div>
	</div>

	<div class = "primary-block content-block coinnum">
			<div><img class="coin" src="assets/coin.png" alt=""></div>
			<div> <%= @total_coins %> </div> <!-- Total coins calculated -->
	</div>

	<div class="totaldistance">
		<div class = "content-block"><strong>Total distance</strong></div>
		<div class = "content-block"> <%= @total_distance  %><div> <!-- current_user.total_distance --> </div></div> <!-- Total distance run -->
	</div>

	<div class="totaltime">
		<div class = "content-block"><strong>Total time run</strong></div>
		<div class = "content-block"><div> <%= @total_time  %><!-- current_user.total_times --> </div></div> <!-- Total time run -->
	</div>

	<div class="coinstillnext">
		<div class="meter animate">
	<span style="width: 50%"><span></span></span>
</div>
		<div>300 coins till next level</div>

	</div>


</div>

