


<div class="loginpage">
	<!-- <h2 class="content-padded">Start</h2> -->

	<div class="outerloginscreen">
		<div class="loginscreen">
		<!-- <img src="/assets/Mario.png" class="mariologin-jump" class="content-padded"> -->
		</div>
	</div>

	<div class="gameconsole">
		
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="loginemail"><%= f.label :email, :class => 'emaillabel' %></div>
		  <%= f.email_field :email, autofocus: true, :class => 'loginemail' %>

		  <div class="loginpassword"><%= f.label :password %></div>
		    <%= f.password_field :password, autocomplete: "off" %>

		  <% if devise_mapping.rememberable? -%>
		    <div class="loginremember"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div class="mario-start"><%= f.submit "Start" %></div>
		<% end %>

		<div id="cross"></div>

		<div class="links">
		<%= render "devise/shared/links" %>
		</div>

		<div class="pretendbuttons">
			<div class="circlebutton1"></div>
			<div class="circlebutton2"></div>
		</div>

	</div>
</div>
