<h1>Listing runs</h1>

<% @runs.each do |run| %>
  <div class="run_box">
    <h2>Run Date</h2> <%= run.locations.first.created_at %>
    <h2>Run Start Time</h2> <%= run.locations.first.created_at %>
    <h2>Run End Time</h2> <%= run.locations.last.created_at %>
    <h2>Total Coins</h2>  <%= run.locations.where(:coins => true).length  %>
    <h2>Total Mushrooms</h2>
    <h2>Total Turtles</h2>

    <ul>
        <li><%= link_to 'Show', run %></li>
        <li><%= link_to 'Edit', edit_run_path(run) %></li>
        <li><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>

  </div>

<% end %>


