<h1>Listing runs</h1>

<% @runs.each do |run| %>
  <div class="run_box">
    <h3>Run Date: </h3> <h4> <%= run.locations.first.created_at %> </h4>
    <h3>Run Start Time: </h3> <h4> <%= run.locations.first.created_at %> </h4>
    <h3>Run End Time: </h3> <h4> <%= run.locations.last.created_at %> </h4>
    <h3>Total Run Time: </h3> <h4> <%= (run.locations.last.created_at - run.locations.first.created_at).round(2) %> seconds </h4>
    <h3>Total Run Distance: </h3> <h4> <%= (run.locations.last.cumulative_distance).round(2) %> metres </h4>
    <h3>Average Running Pace: </h3> <h4> <%= (run.locations.last.cumulative_distance/(run.locations.last.created_at - run.locations.first.created_at)).round(2) %> m/s </h4>
    <h3>Total steps: </h3> <h4> Need to put steps in here </h4>

    <h3>Total Coins: </h3>  <h4> <%= run.coin_counter %> </h4>
    <h3>Total Mushrooms: </h3> <h4> <%= run.mushroom_counter %> </h4>
    <h3>Total Turtles: </h3> <h4> <%= run.turtle_counter %> </h4>

    <map class="run_map"> 
    MAP GOES HERE
    <% location_latlon = [] %>
    <% run.locations.each do |location| %>
        <% location_latlon << [location.latitude, location.longitude] %>
    <% end %>
    LATITUDE LONGITUDE: <%= location_latlon %>

    </map>


    <ul>
        <li><%= link_to 'Show', run %></li>
        <li><%= link_to 'Edit', edit_run_path(run) %></li>
        <li><%= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>

  </div>

<% end %>


