<div class="show_index">
<% @runs.each do |run| %>
  <div class="run_box">

  <div  class="run_column">
      <table>
      <tr>
        <td> <img class="index_img" src="/assets/small_coin_moving.gif"> </td>
        <td> <%= run.coin_counter %> </td>
      </tr>
       <tr>
        <td> <img class="index_img" src="/assets/mushroom_moving.gif"> </td>
        <td> <%= run.mushroom_counter %> </td>
      </tr>
       <tr>
        <td> <img class="index_img" src="/assets/turtle_moving_small.gif"> </td>
        <td> <%= run.turtle_counter %> </td>
      </tr>

        </table>
    </div>

    <div class="run_column_longer">
        <p> <strong> Run Time: </strong> <%= run.locations.first.created_at.strftime("%I:%M %p, %B %d, %Y") %> </p>
        <p> <strong> Total Time: </strong>  <%= ((run.locations.last.created_at - run.locations.first.created_at)/60).floor %> min  <%= ((run.locations.last.created_at - run.locations.first.created_at) % 60).floor %> seconds </p>
        <p> <strong>Total Distance: </strong> <%= (run.locations.last.cumulative_distance/1000).round(2) %> km </p>
        <p> <strong> Average Pace: </strong> <%= ((run.locations.last.cumulative_distance/(run.locations.last.created_at - run.locations.first.created_at))*3.6).round(2) %> km/hr </p>
        <p> <strong> Total steps: </strong> <%= run.steps %> steps </p>
    </div>

  </div>


<% end %>

</div>


